{# templates/pdf/upload.html.twig #}

{% extends 'base.html.twig' %}
{% block title %}Télécharger un fichier PDF{% endblock %}

{% block body %}

{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}

    <h2>Télécharger PDF</h2>
    <hr/>

    {{ form_start(form) }}
    <div>
        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(form.pdfFiles) }}
                {{ form_widget(form.pdfFiles, {'attr': {'class': 'form-control', 'multiple': true}}) }}
                {{ form_errors(form.pdfFiles) }}
            </div>

        </div>

        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(form.pdfFilesCom) }}
                {{ form_widget(form.pdfFilesCom, {'attr': {'class': 'form-control', 'multiple': true}}) }}
                {{ form_errors(form.pdfFilesCom) }}
            </div>

        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary">Vérifier</button>
        </div> 
    </div> 
   
    {{ form_end(form) }}
{% endblock %}
